*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary: #1B4F72;
    --accent:#F18F01;
    --text:#2C3E50;
    --light:#F4F6F8;
    --white:#FFFFFF;
    --font-main:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    font-family: var(--font-main);
    color: var(--text);
    line-height: 1.6;
    background: #FFFFFF;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: var(--primary);
    /*position: sticky;
    top: 0px;
    z-index: 10000;*/
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: var(--white);
}

.nav-link{
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-link a{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
}
.nav-link a:hover{
    color: var(--accent);
}
.hero-section{
    background: linear-gradient(rgb(243, 16, 53),rgb(228, 82, 223),rgb(222, 39, 39));
    color: white;
    text-align: center;

} 
.hero-section{
    font-size: 45px;
    margin-bottom: 21px;
}